<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
		<!--IE-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--SEO-->
		<meta name="description" content="Товары для ограждения территории. Услуги по благоустройтсву">
		<meta name="keywords" content="Ограждение ограждения благоустройство территории СПб Санкт-Петербург Москва Новосибирск">
		<meta name="author" content="">
		<!-- Webmaster-->
		<meta name="yandex-verification" content="675bd772348cc220">
		<!--fonts-->
		<link rel="stylesheet" type="text/css" href="/static/fonts/fonts.css">
		<!--Modernizer-->
		<script src="/static/bower/modernizr/src/modernizr.js"></script>
		<!--styles-->
		<link rel="stylesheet" type="text/css" href="/static/bower/normalize-css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<link rel="stylesheet" type="text/css" href="../static/css/page.css">
		<!--Title-->
		<title>Блог</title>
	</head>
	<body>
		<wrapper class="mainWrapper">
			<nav class="mobile-menu clearfix"><a href="/." class="mobile-menu__logo">9004010.ru</a><a href="#" class="mobile-menu__button">Меню</a></nav>
			<header id="mainHeader" class="mainHeader">
				<wrapper class="mainHeader__top">
					<wrapper class="container clearfix">
						<div class="mainHeader__left">
							<ul class="mainHeader__mail-list">
								<li class="mainHeader__mail-item city-change spb-city city-mail city-mail--active"><a href="mailto:spb@9004010.ru" class="mainHeader__mail-link">spb@9004010.ru</a></li>
								<li class="mainHeader__mail-item city-change msc-city hidden city-mail"><a href="mailto:msk@9004010.ru" class="mainHeader__mail-link">msk@9004010.ru</a></li>
								<li class="mainHeader__mail-item city-change novosib-city hidden city-mail"><a href="mailto:novosib@9004010.ru" class="mainHeader__mail-link">novosib@9004010.ru</a></li>
							</ul>
						</div>
						<div class="mainHeader__right"></div>
						<!--
						.city
							label.city__label Ваш город
							select(name="select-city", class="city__select")
								option(value="spb", class="city__option" selected) Санкт-Петербург
								option(value="msc", class="city__option") Москва
								option(value="novosib", class="city__option") Новосибирск
						
						-->
					</wrapper>
				</wrapper>
				<wrapper class="mainHeader__bottom">
					<wrapper class="container clearfix"><a href="/." class="logo">
							<div class="logo__text"><span class="logo__text-descr">Ограждения и благоустройство</span>
								<h1 class="logo__text-name">9004010.ru</h1>
							</div></a>
						<wrapper class="callUs">
							<div class="callUs__text">
								<h3 class="callUs__text-name">Звоните нам ежедневно</h3><span class="callUs__text-descr">с 8:00 до 23:00</span>
							</div>
						</wrapper>
						<wrapper class="contacts"><a href="tel:+7(812)900-40-10" class="contacts__tel city-change spb-city">+7(812)<span class="contacts__strong">900-40-10</span></a><a href="tel:+7(812)900-40-10" class="contacts__tel city-change msc-city hidden">+7(915)<span class="contacts__strong">340-20-10</span></a><a href="tel:+7(812)900-40-10" class="contacts__tel city-change novosib-city hidden">+7(952)<span class="contacts__strong">909-98-88</span></a><a href="#" class="contacts__button">Заказать звонок</a></wrapper>
					</wrapper>
				</wrapper>
			</header>
			<wrapper class="container">
				<nav class="mainNav">
					<ul class="mainNav__list clearfix">
						<li class="mainNav__item"><a href="/." class="mainNav__link">Главная</a></li>
						<li class="mainNav__item"><a href="/goods/" class="mainNav__link">Товары</a></li>
						<li class="mainNav__item"><a href="/services/" class="mainNav__link">Услуги</a></li>
						<li class="mainNav__item"><a href="/contacts/" class="mainNav__link">Контакты</a></li>
						<li class="mainNav__item"><a href="/blog/" class="mainNav__link">Блог</a></li>
					</ul>
				</nav>
			</wrapper>
			<aside class="aside">
				<nav class="aside__nav">
					<ul class="aside__list">
						<!-- FIXME -->
						{% for category_i in categories %}
						<li class="aside__item">{% if ( ("" ~ category_i.id) in g.keys) %}<a href="/{{ g.keys['' ~ category_i.id] }}/" class="aside__item-link aside__item-{{ category_i.category }}"><img src="/static/img/small/{{ category_i.category }}.jpg" alt="{{ category_i.category }}" class="aside__item-img"></a>{% else %}<a href="/goods-category/{{ category_i.id }}/" class="aside__item-link aside__item-{{ category_i.category }}"><img src="/static/img/small/{{ category_i.category }}.jpg" alt="{{ category_i.category }}" class="aside__item-img"></a>{% endif %}</li>{% endfor %}
					</ul>
				</nav>
			</aside>
			<div class="container">
				<section class="section">
					<header class="section__header">
						<h2 class="section__header-name">Блог</h2>
					</header>
					<div class="section__content">
						<div class="blog">
							<article class="blog__article">
								<header class="blog__header">Сборные алюминиевые флагштоки</header>
								<div class="blog__content blog__content--article"><img src="/static/img/blog/2.jpg" alt="Сборные алюминиевые флагштоки">
									<p>Сборные алюминиевые флагштоки украсят любое мероприятие. Особенно если это Петербургский Экономический Форум в Санкт-Петербурге. Бетонные опоры флагштоков ОФБ-1000 обеспечат не только оперативную установку изделий, но и высочайшую надежность в эксплуатации. Монтаж и сборка флагштоков также производится нашей организацией.</p>
									<p class="blog__date">19.06.16</p>
								</div><a href="/blog/" class="blog__link">Вернуться в блог</a>
							</article>
						</div>
					</div>
				</section>
			</div>
		</wrapper>
		<div class="orderCall__popup">
			<form action="/order-call" method="post" class="orderCall__form">
				<input type="hidden" class="city-mail-input">
				<label class="orderCall__form-label clearfix"><span class="orderCall__form-label-name">Введите ваш номер телефона</span>
					<input type="tel" name="personPhone" placeholder="Куда Вам позвонить" id="personPhone" required class="orderCall__form-label-input">
				</label>
				<input type="submit" value="Заказать звонок" class="orderCall__form-button">
			</form>
		</div>
		<div class="menu-popup">
			<div class="menu-popup__body">
				<ul class="menu-popup__list">
					<li class="menu-popup__item"><a href="/.">Главная</a></li>
					<li class="menu-popup__item"><a href="/goods/">Товары</a></li>
					<li class="menu-popup__item"><a href="/services/">Услуги</a></li>
					<li class="menu-popup__item"><a href="/contacts/">Контакты</a></li>
					<li class="menu-popup__item"><a href="/blog/">Блог</a></li>
				</ul>
			</div>
		</div>
		<div class="order-popup">
			<div class="order-popup__body">
				<header class="order-popup__header">Оставьте заявку<small>Наш менеджер свяжется с вами в течение рабочего дня</small></header>
				<form action="/order" method="post" class="order-popup__form">
					<input type="hidden" class="city-mail-input">
					<p class="order-popup__text order-popup__text--name">Наименование товара:<strong>Столбик парковочный</strong></p>
					<!--label.order-popup__label
					| Укажите количество:
					input.order-popup__input.order-popup__input--number(type="number" value="" min="0")
					-->
					<label class="order-popup__label">Укажите ваши контакты:
						<input type="email" required placeholder="ivanov@firm.ru" class="order-popup__input order-popup__input--email">
						<input type="tel" required placeholder="+7 999 999-99-99" class="order-popup__input order-popup__input--tel">
					</label>
					<textarea rows="6" placeholder="Количество товара, комментарий о доставке, вопрос менеджеру и так далее..." class="order-popup__textarea"></textarea>
					<input type="submit" value="Заказать" class="order-popup__btn order-popup__btn--order"><a href="#" class="order-popup__btn order-popup__btn--close">Закрыть</a>
				</form>
			</div>
		</div>
		<div class="info-popup info-popup--success">Успех</div>
		<div class="info-popup info-popup--error">Ошибка</div>
		<div class="buttonUp">
			<div href="0" class="buttonUp-body">
				<div class="buttonUp-triangleUp"></div>
			</div>
		</div>
		<footer class="mainFooter">
			<div class="mainFooter__top">
				<wrapper class="container clearfix">
					<div class="adress">
						<ul class="adress__list">
							<li class="adress__list-item city-change spb-city">Санкт-Петербург, ул.&nbsp;Политехническая, дом&nbsp;9</li>
							<li class="adress__list-item city-change msc-city hidden">Москва, ул.&nbsp;Короленко, дом&nbsp;5А</li>
							<li class="adress__list-item city-change novosib-city hidden">Новосибирск, ул.&nbsp;Кубовая, дом&nbsp;38/1</li>
							<li class="adress__list-item">Отгрузка товара ежедневно с&nbsp;9:00&nbsp;до&nbsp;19:00</li>
						</ul>
					</div>
					<div class="contacts">
						<ul class="contacts__list">
							<li class="contacts__list-item city-change spb-city"><a href="tel:+7(812)900-40-10" class="contacts__list-link contacts__tel">+7(812)<span class="contacts__strong">900-40-10</span></a></li>
							<li class="contacts__list-item city-change msc-city hidden"><a href="tel:+7(812)900-40-10" class="contacts__list-link contacts__tel">+7(915)<span class="contacts__strong">340-20-10</span></a></li>
							<li class="contacts__list-item city-change novosib-city hidden"><a href="tel:+7(812)900-40-10" class="contacts__list-link contacts__tel">+7(952)<span class="contacts__strong">909-98-88</span></a></li>
							<li class="contacts__list-item city-change spb-city"><a href="mailto:spb@9004010.ru" class="contacts__list-link">spb@9004010.ru</a></li>
							<li class="contacts__list-item city-change msc-city hidden"><a href="mailto:msk@9004010.ru" class="contacts__list-link">msk@9004010.ru</a></li>
							<li class="contacts__list-item city-change novosib-city hidden"><a href="mailto:novosib@9004010.ru" class="contacts__list-link">novosib@9004010.ru</a></li>
						</ul>
					</div>
				</wrapper>
			</div>
			<div class="mainFooter__bottom">
				<div class="container"><a href="/bank">Банковские реквизиты</a>
					<div class="copyright">9004010.ru 2008-2016 &copy;</div>
					<script>document.write("<a href='//www.liveinternet.ru/click' "+"target=_blank><img src='//counter.yadro.ru/hit?t25.6;r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";"+Math.random()+"' alt='' title='LiveInternet: показано число посетителей за"+" сегодня' "+"border='0' width='88' height='15'><\/a>")</script>
				</div>
			</div>
		</footer>
		<!--Yandex.Metrika counter-->
		<script type="text/javascript">
			(function (d, w, c) {
					(w[c] = w[c] || []).push(function() {
							try {
									w.yaCounter40978579 = new Ya.Metrika({
											id:40978579,
											clickmap:true,
											trackLinks:true,
											accurateTrackBounce:true
							 		});
							} catch(e) { }
					});
					var n = d.getElementsByTagName("script")[0],
							s = d.createElement("script"),
							f = function () { n.parentNode.insertBefore(s, n); };
					s.type = "text/javascript";
					s.async = true;
					s.src = "https://mc.yandex.ru/metrika/watch.js";
					if (w.opera == "[object Opera]") {
				 		d.addEventListener("DOMContentLoaded", f, false);
					} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		</script>
		<noscript>
			<div><img src="https://mc.yandex.ru/watch/40978579" style="position:absolute; left:-9999px;" alt=""></div>
		</noscript>
		<script src="/static/bower/jquery/jquery.min.js"></script>
		<script src="/static/bower/bPopup/jquery.bpopup.min.js"></script>
		<script src="/static/js/main.js"></script>
		<script src="../static/js/index.js"></script>
	</body>
</html>