{% extends 'main.html' %}

{% block body %}

<h2>{{ product['name'] }}</h2>
{% for var_i in range(len_variations) %}
    <table style="max-width:100%;">
        <tr>
            <th colspan=3>
                <h3>Подкатегория: {{ product['variations'][variations[var_i][0]]['general'] }}</h3>
            </th>
        </tr>
        <tr>
        {% for i in range(variations[var_i][1]) %}
            <td style="max-width:30%;">
            <table>
                <tr>
                    <th>Название</th>
                    <td colspan={{ variations[var_i][2] }}>{{ product['variations'][variations[var_i][0]]['names'].split(',')[i] }}</td></tr>
                <tr>
                    <th>Аттрибуты</th>
                    <td colspan={{ variations[var_i][2] }}>{{ product['variations'][variations[var_i][0]]['attrs'].split(',')[i] }}</td></tr>
                <tr>
                    <th>Характеристики</th>
                    {% for char in product['variations'][variations[var_i][0]]['chars'].split(',') %}
                    <td>{{ char }}</td>
                    {% endfor %}<tr>
                <tr>
                    <th></th>
                    {% for j in range(variations[var_i][2]) %}
                    <td>{{ product['variations'][variations[var_i][0]]['values'].split('],')[i].split(',')[j] }}</td>
                    {% endfor %}</tr>
                <tr>
                    <th>Цена</th>
                    <td>{{ product['variations'][variations[var_i][0]]['prices'].split(',')[i] }}</td></tr>
                <tr>
                    <th>Установка</th>                    
                    <td>{{ product['variations'][variations[var_i][0]]['stage'].split(',')[i] }}</td></tr>
            </table>
            </td>
        {% if i % 3 == 0 %}
            </tr>
        {% endif %}
        {% endfor %}
        </tr>
    </table>
{% endfor %}

<table>
    <tr>
        <td>Описание</th>
        <td>{{ product['desc'] }}</th>
    </tr>
</table>

{% endblock %}
