extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="../static/css/page.css")

block title
	| Блог

block main-content
	section.section
		header.section__header
			h2.section__header-name Блог
		.section__content
			.blog
				article.blog__article
					header.blog__header Заголовок статьи
					.blog__content.blog__content--article
						img(src="/static/img/goods/Барьеры.jpg" alt="Заголовок статьи")
						p.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id pulvinar est, at vehicula nisl. Nunc scelerisque dictum fermentum. Fusce vulputate nunc in leo tempor pretium. Maecenas at nulla sed libero pulvinar accumsan. Quisque vitae sagittis urna. Duis vitae faucibus mi. Vivamus ut justo nibh.
						p.
							Nam posuere ligula neque, in scelerisque ex auctor eleifend. Morbi rhoncus ut felis quis vehicula. Curabitur bibendum lorem at lacus malesuada maximus. Phasellus consectetur tortor at massa vestibulum, sed cursus odio varius. Integer augue lacus, rhoncus quis erat ac, interdum faucibus dolor. Pellentesque sit amet sodales sapien. Vivamus fermentum quam eu facilisis ultricies. Curabitur sollicitudin massa lectus, a porta eros sagittis non. Praesent eget eros quis lacus scelerisque bibendum sed eget lectus. Nulla facilisi. Duis nec ligula eget neque blandit aliquet. Maecenas ac tristique dui, sed bibendum lectus. Morbi dignissim, enim eget dictum auctor, purus sapien bibendum purus, eu egestas nisi lacus ut nibh.
						p.
							Nunc tempus, odio sit amet auctor rutrum, lorem risus bibendum urna, et lobortis enim erat quis mauris. Sed egestas, orci vestibulum lobortis lobortis, tortor libero gravida mi, id placerat nisi risus eget augue. Duis nulla orci, porttitor et ligula quis, tempor accumsan arcu. Donec vitae tempor arcu, ut lacinia felis. Praesent interdum blandit interdum. Etiam velit sem, imperdiet ut dui eu, rhoncus convallis dolor. Fusce vel massa sagittis, cursus arcu in, elementum neque. Proin cursus magna vel posuere eleifend. Mauris diam risus, elementum sit amet massa nec, faucibus pulvinar nisi. Mauris condimentum efficitur quam, vitae aliquam nibh consequat sed. Donec imperdiet cursus mi quis fermentum. Curabitur faucibus non diam ac porttitor. Curabitur in ullamcorper purus, id fermentum lorem.
						p.
							Curabitur non dictum erat, non vehicula libero. Pellentesque eget orci eu orci vehicula ultricies. Morbi blandit nulla sed nisi pulvinar feugiat. Suspendisse at tortor dictum, consectetur ipsum a, dignissim nisi. Curabitur bibendum sem non mauris vulputate posuere. Duis tempor augue ultricies placerat ultricies. Nam neque urna, posuere quis nisi pellentesque, egestas volutpat risus. Donec eget ligula nibh. Aliquam erat volutpat. In a pulvinar nisi. Sed facilisis nunc imperdiet dui luctus, sed mollis ante dictum.
					a.blog__link(href="/blog/") Вернуться в блог


block personalScript
	script(src="../static/js/index.js")
