extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="../static/css/page.css")

block title
	| Блог

block main-content
	section.section
		header.section__header
			h2.section__header-name Блог
		.section__content
			.blog
				article.blog__article
					header.blog__header Тяжелые бетонные скамейки со спинкой СКМ-17
					.blog__content
						img(src="/static/img/blog/1.jpg" alt="Тяжелые бетонные скамейки со спинкой СКМ-17")
						p.
							Мы начали производить тяжелые бетонные скамейки со спинкой СКМ-17. Толщина досок по-прежнему 45мм, что гарантирует их жесткость! Покраска осуществляется при помощи фирменных норвежских материалов Jotun Paints.
						p.blog__date
							| 01.10.16
					a.blog__link(href="/blog/") Вернуться в блог


block personalScript
	script(src="../static/js/index.js")
