extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="../static/css/page.css")

block title
	| Блог

block main-content
	section.section
		header.section__header
			h2.section__header-name Блог
		.section__content
			.blog
				article.blog__article
					header.blog__header Сборные алюминиевые флагштоки
					.blog__content
						img(src="/static/img/blog/2.jpg" alt="Сборные алюминиевые флагштоки")
						p.
							Сборные алюминиевые флагштоки украсят любое мероприятие. Особенно если это Петербургский Экономический Форум в Санкт-Петербурге. Бетонные опоры флагштоков ОФБ-1000 обеспечат не только оперативную установку изделий, но и высочайшую надежность в эксплуатации. Монтаж и сборка флагштоков также производится нашей организацией.
					a.blog__link(href="/blog/") Вернуться в блог


block personalScript
	script(src="../static/js/index.js")
