extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="../static/css/page.css")

block title
	| Блог

block main-content
	section.section
		header.section__header
			h2.section__header-name Блог
		.section__content
			.blog
				article.blog__article
					header.blog__header Тяжелые бетонные скамейки со спинкой СКМ-17
					.blog__content
						img(src="/static/img/blog/1.jpg" alt="Тяжелые бетонные скамейки со спинкой СКМ-17")
						p.
							Мы начали производить тяжелые бетонные скамейки со спинкой СКМ-17. Толщина досок по-прежнему 45мм, что гарантирует их жесткость! Покраска осуществляется при помощи фирменных норвежских материалов Jotun Paints.
						p.blog__date
							| 01.10.16
					a.blog__link(href="/blog/article/1") Читать дальше

				article.blog__article
					header.blog__header Бетонные скамейки в Кудрово
					.blog__content
						img(src="/static/img/blog/4.jpg" alt="Бетонные скамейки в Кудрово")
						p.
							В Кудрово установлены бетонные скамейки со спинкой СКМ-1 с покраской досок в 5 слоев! Качество продуцкии, низкая цена и оперативная доставка изделий – это наши основные преимущества перед конкурентами.
						p.blog__date
							| 30.09.16
					a.blog__link(href="/blog/article/4") Читать дальше

				article.blog__article
					header.blog__header Бетонные скамейки в женский монастырь
					.blog__content
						img(src="/static/img/blog/31.jpg" alt="Бетонные скамейки в женский монастырь")
						p.
							Установлены бетонные скамейки со спинкой СКМ-1 в Константино-Еленинский женский монастырь в п.Ленинское. Была сохранена фактура дерева благодаря использованию специальной пропитки. Доски были покрыты 5 слоями яхтенного лака.
						p.blog__date
							| 27.09.16
					a.blog__link(href="/blog/article/3") Читать дальше

				article.blog__article
					header.blog__header Сборные алюминиевые флагштоки
					.blog__content
						img(src="/static/img/blog/2.jpg" alt="Сборные алюминиевые флагштоки")
						p.
							Сборные алюминиевые флагштоки украсят любое мероприятие. Особенно если это Петербургский Экономический Форум в Санкт-Петербурге. Бетонные опоры флагштоков ОФБ-1000 обеспечат не только оперативную установку изделий, но и высочайшую надежность в эксплуатации. Монтаж и сборка флагштоков также производится нашей организацией.
						p.blog__date
							| 19.06.16
					a.blog__link(href="/blog/article/2") Читать дальше



block personalScript
	script(src="../static/js/index.js")
