extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="../static/css/page.css")

block title
	| Доставка

block main-content
	section.section.bank
		header.section__header
			h2.section__header-name Доставка
		.section__content
			.full-desc__first-part__wrapper
				.full-desc__first-part__text-wrapper
					p.
						Стоимость доставки в пределах КАД - 1200р. Доставка осуществляется только при заказе от 3 товаров.


block personalScript
	script(src="../static/js/index.js")
