extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="static/css/file.css")

block title
	| Загрузка и скачивание xls
block main-content	

	section.section.section--white
		.file
			form.form(action="/send-file", method="POST", data-form="file")
				label
					| Загрузите xls файл
					input(type="file")
				input(type="submit", value="Загрузить")
			.file__buttons
				a.btn.btn--reload-file(href="#") Обновить файл на Я́ндекс.маркет
				a.btn.btn--download-file(href="#") Скачать файл
				a.btn.btn--secondary(href=".") На главную