extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="/static/css/index.css")

block title
	| Товары

block main-content
	section.section.goods#goods
		header.section__header
			h2.section__header-name Категории товаров
		ul.list.goods__list
			| {% for category_i in categories %}
			li.list__item.goods__item
				a(class="goods__link", href= '/goods-item/' + '{{ category_i.id }}')
					wrapper.goods__img-wrapper
						img(src='/static/img/goods/' + '{{ category_i.category }}' + '.jpg', class='goods__img', alt= val)
					span.goods__text {{ category_i.category }}
			| {% endfor %}

block personalScript
	script(src="/static/js/index.js")

