extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="/static/css/product.css")

block title
	| Название товара

block main-content	
	nav.bread
		ul.bread__list
			//Здесь оставь jade, но пропиши пути к вьюшкам
			- var items = {'.': 'Главная', '/goods' : 'Товары', 'Stolbiki.html': 'Столбики', '#' : 'Стобик ПШ-201'}
			each val, index in items
				li(class="bread__item" + ((index=== '#') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val
  
	// Здесь просто передай переменные
	section.section.productSection
		ul.products__list
			| {% for goods_i in goods %}
			li.list__item.goods__item
				span.goods__text {{ goods_i.subcategory }}
				span.goods__text {{ goods_i.title }}
				span.goods__text {{ goods_i.specs }}
				span.goods__text {{ goods_i.price }}
				span.goods__text {{ goods_i.stage_price }}
				img(src='/static/img/' + '{{ goods_i.image }}', class='goods__img', alt= '{{goods_i.title }}')
			| {% endfor %}
