extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="/static/css/page.css")

block title
	| Название категории
block main-content	
	nav.bread
		ul.bread__list
			// Только ссылки измени. Джеид оставь
			- var items = {'.': 'Главная', '/goods' : 'Товары', '#': 'Барьеры'}
			each val, index in items
				li(class="bread__item" + ((val=== 'Барьеры') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val

	section.section.goodsSection
		ul.products__list
			| {% for category_i in categories %}
			li.list__item.goods__item
				section.section
					header.section__header
						h2.section__header-name
							| {{ category_i.category }}
					.full-desc__first-part__wrapper
						+full-desc__first-part('<p>' + '{{ category_i.description }}' + '</p>')
			| {% endfor %}
