extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="/static/css/product.css")

block title
	| Вход в систему

block main-content	
	nav.bread
		ul.bread__list
			- var items = {'.': 'Главная', '/login' : 'Вход'}
			each val, index in items
				li(class="bread__item" + ((index=== '#') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val
  
	// Здесь просто передай переменные
	section.section.productSection
		| {% for goods_i in goods %}
		var product = #[ {{ goods_i.category, goods_i.subcategory, goods_i.title, goods_i.specs, goods_i.price, goods_i.stage_price, goods_i.image }} ] )
		| {% endfor %}
