extends ../main

block personalStyle
  link(rel="stylesheet", type="text/css", href="/static/css/index.css")

block title
  | Предоставляемые услуги

block main-content
  section.section.service
    header.section__header
      h2.section__header-name Предоставляемые услуги
    ul.list.service__list
      | {% for service_i in services %}
      li.list__item.service__item
          a(class="service__link service__link-popup", href= '/service-item/{{ service_i.id }}')
            wrapper.service__wrapper
              wrapper.service__wrapper-inner
                img(src= "/static/img/{{ service_i.image }}", alt='{{ service_i.name }}', class= ((i === 0) || (i === 4) ) ? "margin-top" : "").service__img
            span.service__text='{{ service_i.name }}'
      | {% endfor %}

block personalScript
  script(src="/static/js/index.js")

