nav.mobile-menu.clearfix
	a.mobile-menu__logo(href="/.") 9004010.ru
	a.mobile-menu__button.mobile-menu__button--centered(href="/contacts") Контакты
	a.mobile-menu__button.mobile-menu__button--js-menu(href="#") Меню
